* {
  padding: 0;
  margin: 0;
}

body {
    min-height: 100vh;
    color: rgb(255, 255, 255);
    background: rgb(42 42 42);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .launcher-box {
    width: 1024px;
    height: 768px;
    background-color: rgb(45 76 83);
    display: flex;
    margin: auto;
    border-radius: 1%;
    flex-direction: column;
  }

  .launcher-header {
    text-align: right;
    background-color: #1ea3de;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2%;
  }

  #header-exit {
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 0 solid #000;
  }

  #header-exit:hover {
    cursor: pointer;
  }

  .launcher-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #heading-title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
    margin: 2% 2% -1% 2%;
  }

  #heading-subtitle {
    font-weight: bold;
    margin: 1%;
    color: #f5d755;
    font-size: 27px;
  }

  #heading-shield {
    width: 197px;
    height: 205px;
  }

  .launcher-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1% 10%;
    line-height: 1.5em;
    align-items: center;
    font-size: 16px;
  }

  .content-note {
    text-align: center;
    color: rgb(247 222 154);
    font-weight: bold;
    font-size: 13px;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    margin-top: 2em;
    width: 700px;
    row-gap: 1em;
    column-gap: 2em;
  }

  .linkButton {
    width: 331px;
    height: 35px;
    font-size: 16px;
    color: white;
    background-color: #242e2c;
    border: 0 solid #000;
    transition-duration: .2s;
  }

  .linkButton:hover {
    cursor: pointer;
    box-shadow: -4px 2px 5px 1px rgba(0, 0, 0, 0.9);
  }